/* Google Fonts Advent Pro */
@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');


#CordLabel {
  position: fixed;
  color: white;
  top:0;
  right:0;
  z-index: -999;
}




::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.App {
  cursor: crosshair;
  background: black;
  font-size: calc(1vw + 1vh + .5vmin);
  font-family: 'Advent Pro';
}

.PosContainer {
  position: fixed;
  top: 0;
  right: 0;
}

.PosLabel {
  color: white;
  font-family: 'Advent Pro';

}